h1, h2, h3, h4, h5, h6, p, a {
	font-family: arial;
}

a {
	color: #336739;
}

a:hover {
	color:#683233;
}

body {
	background-color: #f6f6f6;
}

.general-content form {
	width:100%;
}

.btn-tt {
	border: 2px solid #336739;
	background-color:#336739;
	color:white;
	margin-left:2px;
	margin-right:2px;
}

.btn-tt:hover {
	background-color:#214225;
	color:white;
	border: 2px solid #214225;
}

.btn-outline-tt {
	margin-left:2px;
	margin-right:2px;
	color:#336739;
	background-color:white;
	border: 2px solid #336739;
}

.btn-outline-tt:hover {
	background-color:#336739;
	border: 2px solid #336739;
	color:white;
}

.custom-header {
	height:60px;
	width:100%;
	background-color:white;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items: center;
	padding-right:20px;
	padding-left:20px;
	padding-top:30px;
}

.custom-header a {
	font-weight: 900;
	color:grey;
	font-size: 16px;
	font-family:Bradley Hand !important;
}

.custom-header-scroll {
	height:110px;
}

.custom-navbar-container {
	height:50px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color:white;
	display:flex;
	flex-direction:row;

}

.navbar-scroll {
	background-color: rgba(255, 255, 255, 0.85);
}

.custom-navbar-mid {
	width:80%;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.custom-navbar-right {
	width:10%;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.custom-navbar-left {
	width:10%;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.custom-nav-img {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	transition: 0.1s;
	position:relative;
	bottom:30px;
	margin-left:20px;
	margin-right:20px;
}

.custom-nav-img-scroll {
	position:relative;
	top:30px;
}

.custom-nav-img:hover {
	transform:scale(1.1);
}

.bg-sky {
	background-color: #ADD8E6;
}

.custom-nav-item {
	color:black;
	font-size:20px;
	font-family: arial;
	height:100%;
	width:120px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	transition: 0.3s;
}

.custom-nav-item:hover {
	color:white;
	background-color:#336739;
}

.custom-navbar-mid a {
	color:black;
}

.custom-navbar-mid a:hover {
	color:white;
	text-decoration-line: none;
}

.nav-spacer {
	height:120px;
	background-color: #b9cab8;
}

.post-container {
	height:300px;
	margin:10px;
	background-color:white;
	border-radius:10px;
	display:flex;
	flex-direction:row;
	border: 2px solid #D3D3D3;
}

.post-container-img {
	display:flex;
	width:40%;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	border-radius:10px;
}

#post-card-image {
	width:95%;
	height:95%;
	object-fit: cover;
	border-radius:10px;
}

.post-container-content {
	padding:10px;
	width:60%;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
}

.post-container-content hr {
	margin:4px;
}

.post-container-text {
	display:flex;
	flex-direction:column;
}

.post-footer {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.content-main {
	display:flex;
	flex-direction:row;
}

.blog-content-container {
	width:75%;
	display:flex;
	flex-direction:column;
	margin-bottom:50px;
}

.banner-title-text {
	color:white;
	font-size: 60px;
	position:absolute;
	font-family:Bradley Hand;
}

.blog-sidebar {
	width:25%;
	display:flex;
	flex-direction:column;
}

.about-me-card {
	height:600px;
	background-color:white;
	margin:10px;
	border: 2px solid #D3D3D3;
	border-radius:10px;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:flex-start;
	padding:10px;

}

.about-me-card p {
	padding-top:20px;
	text-align:center;
}

.about-me-card-scroll {
	position:fixed;
	top:50px;
}

.about-me-card-bottom {
	position:relative;
	top:2100px;
}

.about-me-img {
	background-image: url("/static/images/about_me_1.jpg");
	width:100%;
	height:300px;
	border-radius:10px;
	background-size: cover;
	background-position: center;
}

.about-me-filter {
	border-radius:10px;
	width:100%;
	height:100%;
	transition:0.3s;
	display:flex;
	align-items:center;
	justify-content: center;
	color:rgba(0,0,0,0);
}

.about-me-filter:hover {
	background-color:rgba(0,0,0,0.3);
	color:white;
}

.about-me-img a:hover {
	text-decoration-line: none;
}

.post-detail-container {
	margin:10px;
	padding-top:50px;
	padding-right:100px;
	padding-left:100px;
	padding-bottom:50px;
	background-color:white;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	border: 2px solid #D3D3D3;
	text-align: justify;
}

.author-header {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.author-header h6 {
	margin-top:20px;
	font-style: italic;
}

.post-detail-container h4 {
	font-style: italic;
	color:#336739;
}

.post-detail-container h1 {
	font-style: bold;
	text-transform: uppercase;
	margin-bottom:10px;
	text-align:center;
}

.post-tag-containter {
	display: flex;
	flex-direction:row;
}

.post-badge-tt {
	color:white;
	background-color:#336739;
}

.all-tag-container {
	width:100%;
	display: flex;
	flex-direction:column;
	text-align: center;
	justify-content: center;
	background-color:white;
	border-top: 2px solid #D3D3D3;
	border-bottom: 2px solid #D3D3D3;
	z-index: 1;
	align-self:flex-end;
	background-color: rgba(255, 255, 255, 0.65);
}

.all-tag-container hr {
	width:50%;
	margin:0px;
	align-self:center;
}


.all-tag-container-2 {
	display:flex;
	flex-direction:row;
	margin:auto;
	justify-content: center;
	align-items: center;
}

.all-badge-tt {
	width:110px;
	display:flex;
	color:white;
	background-color:#336739;
	margin:5px;
	height:30px;
	justify-content: center;
	align-items: center;
}

.all-tag-container a:hover, .post-tag-container a:hover {
	text-decoration-line: none;
}

.post-badge-tt:hover, .all-badge-tt:hover {
	background-color:#214225;
}

hr {
	width:100%;
	text-align:left;
	margin-left:0;
}

.footer {
	padding-bottom:25px;
	height:150px;
	background-color:grey;
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
	align-items:center;
	color:white;
}

.footer-2 {
	padding:25px;
	height:150px;
	background-color:#333333;
	display:flex;
	flex-direction: column;
	justify-content: left;
	align-items:flex-start;
	color:white;
}

.footer-2 a {
	color:white;
}

.comment-box {
	margin:10px;
	padding-top:50px;
	padding-right:100px;
	padding-left:20px;
	background-color:white;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	border: 2px solid #D3D3D3;
}

.comment-author {
	font-weight:900;
	font-style: italic;
	margin-right:5px;
}

.comment-container {
	display:flex;
	flex-direction: column;
}

.comment-container form {
	width:50%;
}

#reply-container {
	margin-top:30px;
	margin-left:100px;
}

.comment-container-2 {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
}

#comment-date {
	color:grey;
	font-weight: 450;
	font-size:14px;
}

#comment-reply {
	color:grey;
	font-weight: 900;
	font-size:14px;
	margin-left:40px;
}

.reply-box {
	padding-left:300px;
	padding-right:300px;
	padding-top:50px;
	padding-bottom:50px;
	width:100%;
	background-color:#b9cab8;
	color:black;
}

.reply-box h1 {
	text-align: center;
}

.comment-title, .blog-page-title {
	margin-top:20px;
	text-align:center;
}

.page-num-container {
	display:flex;
	flex-direction:row;
	justify-content: center;
}

.home-content, .general-content {
	border: 2px solid #D3D3D3;
	margin:10px;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:100px;
	padding-right:100px;
	background-color:white;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

#legal {
	text-align: left;
	align-self: flex-start;
}

.home-content h2 {
	font-family: Bradley Hand;
	text-align:center;


}

.home-content hr {
	width:50%;
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;
}

.home-banner-filter {
	background-color:rgba(0, 0, 0, 0);
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
	border-radius:10px;
	transition: 0.3s;
	color:rgba(0, 0, 0, 0);
	position:relative;
}

.home-banner-filter:hover {
	background-color:rgba(0, 0, 0, 0.4);
	color:white;
}

.home-banner-filter h1 {
	position: absolute;
	color:white;
	font-family: Bradley Hand;
}

.home-banner-filter p {
	margin-top:200px;
	padding-left:100px;
	padding-right:100px;
	text-align:center;
}


.post-banner {
	width:100%;
	height:700px;
	display:flex;
	align-items:center;
	justify-content: center;
	background-size: cover;
	border-radius:10px;
	background-position: center;
}

.banner {
	background-color: rgba(0,0,0,.5);
	background-blend-mode: multiply;
	width:100%;
	height:700px;
	display:flex;
	align-items:center;
	justify-content: center;
	background-size: cover;
	background-position: center;
}

.banner a {
	height:100%;
	width:100%;
}

.banner a:hover {
	text-decoration-line: none;
}

.home-content .banner {
	height:500px;
	border-radius:10px;
}














